.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.searchbar {
  margin-top: 1.5em;
  margin-left: 25%;
  margin-right: 25%;
  border: 2px solid rgba(79, 78, 78, 0.2);
  border-radius: 10px;
  font-size: 3em;
  padding: 0.5em 0 0.5em 0;
  font-family: Arial, serif;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  outline: none;
  transition: 0.3s;

}

.searchbar:focus {
  box-shadow: 12px 12px 12px rgba(0,0,0,0.2);
}

.table {
  margin-top: 3em;
  margin-left: 20em;
  margin-right: 20em;
}

.table th {
  background-color: #d746d7;
  padding: 1em;
  border: none;
  border-radius: 5px;
}

.table td {
  padding: 1em;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: bold;
  border: 1px solid rgba(79, 78, 78, 0.2);
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  transition: 0.3s;
}
.table td>a {
  color: blue;
}

.table td:hover {
  box-shadow: 8px 8px 8px rgba(0,0,0,0.2);
}


